.scroll-to-top {
    position: fixed;
    bottom: 70px;
    left: -100px; 
    background-color: #F7752A;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    transition: left 0.5s ease, opacity 0.5s ease; 
    opacity: 0; 
    z-index: 1000;
}
  
.scroll-to-top.show {
    left: 26px;
    opacity: 1;
}